@charset "UTF-8";
/*
Theme Name: Test Lesson Theme
Theme URI: https://github.com
Author: the WordPress team
Author URI: https://wordpress.org/
Version: 1.0

*/

body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}